$white: #ffffff;
$bg-grey: #f7f7f9;
$bg-dark: #25262b;
$bg-dark-top: #2b2e34;
$text: #2a313e;
$text-light: #e3e3e3;
$red: #f66249;
$hr: #35373e;
$red-hover: #ffbcb0;
$gold: #e5ae78;
$green: #97cb46;
$blue: #243786;
$black: #252525;
